.App-button {
  border-radius: 0.3rem;
  background-color: white;
  color: #6495ed;
  margin: 0 auto;
  border-width: 0px;
  padding-bottom: 8vw;
  padding-top: 1vw;
  top: 0;
  display: flex;
  font-size: 3vw;
}
